<% if (title) { %>
<h1><%= title %></h1>
<% } else {
	res.redirect('/')
} %>

<%- messages() %>

<%# Display error messages, if any %>
<% if (errors) { %>
	<ul class="notices">
		<% errors.array().forEach(error => {%>
		<li><%= error.msg %></li>
	<% }) %>
	</ul>
<% } %>

<h2>Welcome, <%= locals.accountData.account_firstname %></h2>
	<a href="/account/update/<%= locals.accountData.account_id %>" title="Click to update your account">Update Account Information</a>

<% if (locals.accountData.account_type == "Employee" || locals.accountData.account_type == 'Admin') { %>
	<h3><a title="Click to access inventory management" href="/inv/">Inventory Management</a></h3>
<% } %>
