<% if (title) { %>
<h1><%= title %></h1>
<% } else {
	res.redirect('/')
} %>

<%- messages() %>

<%# Display error messages, if any %>
<% if (errors) { %>
	<ul class="notices">
		<% errors.array().forEach(error => {%>
		<li><%= error.msg %></li>
	<% }) %>
	</ul>
<% } %>

<form method="post" action="/inv/add/inventory">
	<fieldset>
	<label for="inv_make">Vehicle Make</label>
	<input type="text" id="inv_make" name="inv_make" 
	minlength="2" required value="<%= locals.inv_make %>">
	<label for="inv_model">Vehicle Model</label>
	<input type="text" id="inv_model" name="inv_model"
	minlength="2" required value="<%= locals.inv_model %>">
	<label for="inv_year">Year</label>
	<input type="number" name="inv_year" id="inv_year"
	min="1880" required value="<%= locals.inv_year %>">
	<label for="inv_description">Vehicle Description</label>
	<textarea name="inv_description" id="inv_description"
	rows="4" placeholder="Enter a short description of the vehicle..."
	required spellcheck="true"><%= locals.inv_description %></textarea>
	<label for="inv_image">Path to Vehicle Image</label>
	<input type="text" id="inv_image" name="inv_image"
	value="<%= locals.inv_image %>" required>
	<label for="inv_thumbnail">Path to Vehicle Thumbnail Image</label>
	<input type="text" name="inv_thumbnail" id="inv_thumbnail"
	value="<%= locals.inv_image %>" required>
	<label for="inv_price">Price ($)</label>
	<input type="number" name="inv_price" id="inv_price"
	required value="<%= locals.inv_price %>">
	<label for="inv_miles">Odometer Reading</label>
	<input type="number" name="inv_miles" id="inv_miles"
	required value="<%= locals.inv_miles %>">
	<label for="inv_color">Vehicle Color</label>
	<input type="text" name="inv_color" id="inv_color"
	required pattern="^[a-zA-Z]{3,}$" value="<%= locals.inv_color  %>">
	<label for="classification_id">Vehicle Classification</label>
	<%- classificationList %>
	<button type="submit">Add</button>
	</fieldset>
</form>